{% extends 'blank.html' %}

{% block label %}
    {{ request.cookies.identity_id }}

{% endblock %}

{% block container %}
    {% if request.cookies.identity %}
        {% if request.cookies.identity_id %}
    <!--前端完善个人信息面板部分-->
        <div class="container">
            <div class="row">
            <div class="col-lg-12">
              <!-- Default Card Example -->
              <div class="card mb-4">
                <div class="card-header" style="text-align: center;">
                  欢迎 {{ teachers.name }} 老师登陆系统
                </div>
                <div class="card-body">
                    <p>
                        老师姓名：{{ teachers.name }}
                    </p>
                    <p>
                        老师年龄：{{ teachers.age }}
                    </p>
                    <p>
                        老师性别：{{ teachers.gender }}
                    </p>
                </div>
              </div>
            </div>
      </div>
      </div>

        {% else %}
    <!--前端未完善个人信息面板部分-->
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <!-- Default Card Example -->
              <div class="card mb-4">
                <div class="card-header" style="text-align: center;">
                  请完善您的个人信息
                </div>
                <div class="card-body">
                  <form class="form" method="post">
                      <div class="form-group">
                          <input class="form-control" type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                      </div>
                      <div class="form-group">
                          <input class="form-control" type="text" name="username" placeholder="教师姓名">
                      </div>
                      <div class="form-group">
                          <input class="form-control" type="text" name="gender" placeholder="教师性别">
                      </div>
                      <div class="form-group">
                          <input class="form-control" type="text" name="age" placeholder="教师年龄">
                      </div>
                      <div class="form-group">
                          <input class="form-control" type="text" name="course" placeholder="教师课程">
                      </div>
                      <div class="form-group" style="float: right;"></div>

                  </form>
                </div>
              </div>
            </div>
                          <input class="btn btn-primary" type="submit" value="提交信息">

      </div>
      </div>
    {% endif %}
    {% else %}
    ##############################
    {% if request.cookies.identity_id%}
    <!--前端完善个人信息面板部分-->
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <!-- Default Card Example -->
              <div class="card mb-4">
                <div class="card-header" style="text-align: center;">
                  欢迎 {{ student.name }} 学生登陆系统
                </div>
                <div class="card-body">
                    <p>
                        学生姓名：{{ teachers.name }}
                    </p>
                    <p>
                        学生年龄：{{ teachers.age }}
                    </p>
                    <p>
                        学生性别：{{ teachers.gender }}
                    </p>
                </div>
              </div>
            </div>
      </div>
      </div>

    {% else %}
    <!--前端未完善个人信息面板部分-->
      <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <!-- Default Card Example -->
              <div class="card mb-4">
                <div class="card-header" style="text-align: center;">
                  请完善您的个人信息
                </div>
                <div class="card-body">
                  <form class="form" method="post">
                      <div class="form-group">
                          <input class="form-control" type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                      </div>
                      <div class="form-group">
                          <input class="form-control" type="text" name="username" placeholder="学生姓名">
                      </div>
                      <div class="form-group">
                          <input class="form-control" type="text" name="age" placeholder="学生年龄">
                      </div>
                      <div class="form-group">
                          <input class="form-control" type="text" name="gender" placeholder=“学生性别">
                      </div>
                      <div class="form-group" style="float: right;">
                          <input class="btn btn-primary" type="submit" value="提交信息">
                      </div>

                  </form>
                </div>
              </div>
            </div>
      </div>
      </div>
    {% endif %}
    {% endif%}
{% endblock %}